@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Học Viện Ninja</title>
    <link rel="stylesheet" href="~/assets/css/header.css">
    <link rel="stylesheet" href="~/assets/css/body.css">
    <link rel="stylesheet" href="~/assets/css/footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">

    <link rel="stylesheet" href="~/assets/font/fontawesome-free-6.2.0/css/all.min.css">
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<body>
    <header role="banner" class="global-header">
        <div class="grid">
            <div class="global-header__body">
                <div class="global-header__title">
                    <h1 class="global-header__site-name">
                        <a asp-controller="Home" asp-action="Index" >
                            <img src="~/assets/img/logo_web.png"
                                 alt="Hoc vien ninja" width="130">
                        </a>
                    </h1>
                </div>
                <nav role="navigation" class="nav-global">
                    <div class="nav-global__body">
                        <ul class="nav-global__list">
                            <li class="nav-global__item" style="height: 57px;">
                                <a asp-controller="Home"  asp-action="HowToPlay"
                                   class="nav-global__item--goods"><span>Giới thiệu</span></a>
                            </li>

                            <li class="nav-global__item" style="height: 57px;">
                                <a asp-controller="Character" asp-action="Index"
                                   class="nav-global__item--anime"><span>Nhân vật</span></a>
                            </li>

                            <li class="nav-global__item" style="height: 57px;">
                                <a asp-controller="Monster" asp-action="Index"
                                   class="nav-global__item--movie"><span>Quái vật</span></a>
                            </li>

                            <li class="nav-global__item" style="height: 57px;">
                                <a asp-controller="Boss" asp-action="Index"
                                   class="nav-global__item--event"><span>Boss</span></a>
                            </li>
                          
                            <li class="nav-global__item" style="height: 57px;">
                                <a asp-controller="Ability" asp-action="Index"
                                   class="nav-global__item--game"><span>Nội tại</span></a>
                            </li>

                            <li class="nav-global__item" style="height: 57px;">
                                <a asp-controller="Item" asp-action="Index"
                                   class="nav-global__item--game"><span>Vật phẩm</span></a>
                            </li>

                            <form action="/tim-kiem" onsubmit="return suggestSearch(event);" class="header__search">
                                <input id="skw" type="text" class="input-search" onkeyup="suggestSearch(event);"
                                       placeholder="Bạn tìm gì..." name="key" autocomplete="off" maxlength="100">

                            </form>

                            <div class="search_button">
                                <button type="submit">
                                    <i style="font-size: 24px;" class="fa-solid fa-magnifying-glass"></i>
                                </button>
                            </div>

                            @{

                                var Avatar = HttpContextAccessor.HttpContext.Request.Cookies["Avatar"];
                                var Name = HttpContextAccessor.HttpContext.Request.Cookies["Name"];

                                if (Avatar == null || Name == null)
                                {
                                    <li class="nav-global__item" style="height: 57px;">
                                        <div class="search_button">
                                            @using (Html.BeginForm("Login", "Home", FormMethod.Get))
                                            {
                                                <button type="submit" class="sum">
                                                    <span style=" font-size: 17px;line-height: 35px;">
                                                        Login<br class="hidden-xs">
                                                    </span>
                                                </button>
                                            }

                                        </div>
                                    </li>
                                } else
                                {
                                    <li class="nav-global__item" style="height: 57px;">

                                        <div style="margin-left: 20px;" class="avatar-img">
                                            <div style="width: 50px; height: 50px;border: 1px solid #ccc2c2;border-radius: 50%;" class="avatar-img-items">
                                                <img style="width: 100%;border-radius: 50%;"
                                                     src="@Avatar" alt="">
                                            </div>
                                        </div>
                                        <div class="info-charac">
                                            <div class="info-charac_items">
                                                <a asp-controller="Home" asp-action="Profile">
                                                    <i class="fa-sharp fa-solid fa-user-tie"></i>
                                                    <span>Xem thông tin</span>
                                                </a>
                                            </div>
                                            <div class="info-charac_items">
                                                <a asp-controller="Home" asp-action="ChangePass">
                                                    <i class="fa-sharp fa-solid fa-user-tie"></i>
                                                    <span>Đổi mật khẩu</span>
                                                </a>
                                            </div>
                                           
                                            <div style="position:relative;" class="info-charac_items">
                                                <a asp-controller="Home" asp-action="Logout">
                                                    <i class="fa-solid fa-arrow-right-from-bracket"></i>
                                                    <span style="margin-top: -4px;">Đăng xuất</span>
                                                </a>
                                            </div>

                                        </div>
                                    </li>
                                }
                            }

                          @*  <li class="nav-global__item" style="height: 57px;">
                                <div class="search_button">
                                    @using (Html.BeginForm("Login", "Home", FormMethod.Get))
                                    {
                                        <button type="submit" class="sum">
                                            <span style=" font-size: 17px;line-height: 35px;">
                                                Login<br class="hidden-xs">
                                            </span>
                                        </button>
                                    }
                                    
                                </div>
                            </li>*@
                        </ul>

                    </div>
                </nav>
            </div>
        </div>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <div id="footer" data-v-514bccfc="">
        <div class="container" data-v-514bccfc="">
            <!---->
            <div class="bottom" data-v-514bccfc="">
                <div class="logos" data-v-514bccfc="">
                    <img src="~/assets/img/logo_web.png" alt="">
                </div>
                <div class="cnt" data-v-514bccfc="">
                    <div class="copyrights" data-v-514bccfc="">
                        Sản phẩm được hợp tác phát hành bởi các thành viên
                        nhóm Akatsucana sinh viên trường đại học FPT Cần Thơ &amp; Đại học FPT chi nhánh Cần Thơ<br>

                        Văn phòng đại diện: tầng 4, tòa nhà Gamma đại học FPT Cần Thơ, Cầu Rau Răm, đường Nguyễn Văn
                        Cừ, An Bình, Ninh Kiều, Cần thơ Việt Nam.<br>

                        Điện thoại: (04)982 123 324;
                    </div>
                    <div class="social-links" data-v-514bccfc="">
                        <!---->
                        <div class="links" data-v-514bccfc="">
                            <a href="javascript:void(0)" target="_blank" rel="noreferrer noopener"
                               class="link" data-v-514bccfc="">
                                <i style="padding-right: 8px;" class="fa-brands fa-facebook"></i>
                                <div class="link-txt" data-v-514bccfc="">Facebook</div>
                            </a><a href="javascript:void(0)" target="_blank" rel="noreferrer noopener" class="link"
                                   data-v-514bccfc="">
                                <i style="padding-right: 8px;" class="fa-brands fa-youtube"></i>
                                <div class="link-txt" data-v-514bccfc="">Youtube</div>
                            </a><a href="javascript:void(0)" target="_blank" rel="noreferrer noopener" class="link"
                                   data-v-514bccfc="">
                                <i style="padding-right: 8px;" class="fa-solid fa-envelope"></i>
                                <div class="link-txt" data-v-514bccfc="">Gmail</div>
                        </div>
                    </div>
                    <div class="vn-playForFree" data-v-514bccfc="">
                        <a href="javascript:void(0)" class="playForFree"
                           data-v-514bccfc="">CHƠI MIỄN PHÍ</a> <span class="age-limit" data-v-514bccfc=""></span>
                    </div>
                </div>
                <!---->
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
