.pokemon-list-contents {
    background-image: url(/play/resources/pokedex/img/list_top_bg.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-color: #0a141e;
    position: relative;
    overflow: hidden;
}.pokemon-list {
    color: #000;
    font-size: 1.6rem;
    line-height: 1.6;
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
}
.pokemon-list__header {
    z-index: 110;
    margin: 0 auto;
    position: relative;
}div {
    display: block;
}
a {
    color: #00d2ff;
    text-decoration: none;
}

#slider{
    padding-top: 50%;
    background:url('/assets/img/banner1.webp') top center / cover no-repeat;
}



.pokemon-list__sub {
    z-index: 110;
    position: relative;
    background-image: url(/play/resources/pokedex/img/list_bg.jpg);
    background-position: top;
    background-repeat: repeat;
    background-size: 100% auto;
    margin-top: 40px;
}
.pokemon-list {
    color: #000;
    font-size: 1.6rem;
    line-height: 1.6;
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
}

.pokemon-list__sub .pokemon-advance-search {
    position: relative;
}
.pokemon-list__sub .pokemon-advance-search__close {
    background-image: url(/play/resources/pokedex/img/advance_search_close_bg.png);
}
.pokemon-list__sub .pokemon-advance-search__close {
    background-size: 100% auto;
    position: relative;
}
.pokemon-list .size-16 {
    font-size: 1.6vw!important;
}
.pokemon-list__sub .pokemon-advance-search__close--toggle {
    bottom: 0;
    width: 30%;
    margin-left: 35%;
}
.pokemon-list__sub .pokemon-advance-search__close--toggle {
    text-align: center;
    cursor: pointer;
    color: #fff;
    text-shadow: 1px 1px 3px #fff, -1px -1px 3px #fff;
    position: absolute;
    display: block;
}
.pokemon-list__sub .pokemon-list--box--wrapper {
    width: 25%;
}
.pokemon-list__sub .pokemon-list--box--wrapper {
    position: relative;
    float: left;
    display: block;
}
.pokemon-list__sub .pokemon-list--box.visible {
    -webkit-animation: visible_pokemon_list 1s both;
    animation: visible_pokemon_list 1s both;
}
.pokemon-list__sub .pokemon-list--box {
    display: block;
    width: 100%;
    opacity: 0;
    background: transparent url(/play/resources/pokedex/img/list_pokemon_bg.png) 50% 50% no-repeat;
    background-size: auto 100%;
    position: relative;
    margin-bottom: 1em;
}
a {
    color: #00d2ff;
    text-decoration: none;
}
.pokemon-list__sub .pokemon-list--box__img {
    position: absolute;
    width: 60%;
    left: 20%;
    top: 8%;
}
.pokemon-list__sub .pokemon-list--box__no {
    position: absolute;
    width: 80%;
    left: 10%;
    top: 57%;
    color: #b4ebff;
}
.pokemon-list__sub .pokemon-list--box__name {
    position: absolute;
    width: 80%;
    left: 10%;
    top: 62%;
    color: #fff;
}
.pokemon-list .size-22 {
    font-size: 2.2vw!important;
}
.pokemon-list__sub .pokemon-list--box__subname {
    position: absolute;
    width: 80%;
    left: 10%;
    top: 72%;
    color: #fff;
}
.pokemon-list__sub .pokemon-list--box__types {
    position: absolute;
    width: 80%;
    left: 10%;
    bottom: 5%;
}
.pokemon-list__sub .pokemon-list--box__type--grass {
    border-color: #b4f000;
    background-color: #92bf19;
    -webkit-box-shadow: 0 0 0.25em 0.03em #92bf19;
    box-shadow: 0 0 0.25em 0.03em #92bf19;
}
.pokemon-list__sub .pokemon-list--box__type span {
    position: relative;
    color: #fff;
    text-align: center;
    width: 100%;
    display: block;
    text-shadow: 0 0 5px rgb(0 0 0 / 75%);
}
*, :after, :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.pokemon-list__sub .pokemon-list--box__type--poison {
    border-color: #d28cd2;
    background-color: #be78be;
    -webkit-box-shadow: 0 0 0.25em 0.03em #be78be;
    box-shadow: 0 0 0.25em 0.03em #be78be;
}
.pokemon-list__sub .pokemon-list--box__type {
    width: 45%;
    float: left;
    position: relative;
    border-radius: 1em;
    border: 1px solid #000;
    margin: 0.5em 0.25em;
}
.pokemon-detail__evolutions .pokemon-evolution-box a:after, .pokemon-detail__evolutions .pokemon-evolution__row:after, .pokemon-detail__medallion .pokemon-medallion__medal-front:after, .pokemon-detail__profile .pokemon-info--inner:after, .pokemon-detail__profile .pokemon-info:after, .pokemon-detail__profile .pokemon-type:after, .pokemon-detail__profile .pokemon-weakness__items:after, .pokemon-detail__stats .pokemon-status__block:after, .pokemon-list__sub .pokemon-advance-search__areas:after, .pokemon-list__sub .pokemon-advance-search__buttons:after, .pokemon-list__sub .pokemon-advance-search__open--body--inner:after, .pokemon-list__sub .pokemon-advance-search__types:after, .pokemon-list__sub .pokemon-list--box__types:after, .pokemon-list__sub .pokemon-list:after {
    content: "";
    display: table;
    clear: both;
}
.pokemon-list__load-more {
    width: 100%;
    display: none;
    padding-bottom: 3%;
    text-align: center;
}
.pokemon-list .size-14 {
    font-size: 1.4vw!important;
}


.pokemon-list__load-more__button {
    width: 46.2%;
    background-image: url(/play/resources/pokedex/img/morebtn_bg.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.pokemon-list__load-more__button {
    color: #b3eafe;
    position: relative;
    display: inline-block;
}
.pokemon-list__load-more__button:before {
    padding-top: 10.8%;
}
.pokemon-list__load-more__button:before {
    content: "";
    display: block;
}
.pokemon-list__load-more__button span {
    position: absolute;
    top: 46%;
    right: 0;
    left: 0;
    text-align: center;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    text-shadow: 0 0 5px #b3eafe, 0 0 5px #b3eafe;
}
.pokemon-list__sub .pokemon-list--box {
    display: block;
    width: 100%;
    opacity: 0;
    background: transparent url(/assets/img/nảuto.jfif) 50% 50% no-repeat;
    background-size: auto 100%;
    position: relative;
    margin-bottom: 1em;
}

.pokemon-list__sub .pokemon-list {
    width: 100%;
    padding: 2em 3%;
}
.pokemon-list {
    color: #000;
    font-size: 1.6rem;
    line-height: 1.6;
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
}
.pokemon-list__sub .pokemon-list--box--wrapper {
    position: relative;
    float: left;
    display: block;
}
.pokemon-list__sub .pokemon-list--box {
    display: block;
    width: 100%;
    opacity: 0;
    background: transparent url(/assets/img/nảuto.jfif) 50% 50% no-repeat;
    background-size: auto 100%;
    position: relative;
    margin-bottom: 1em;
}       


  

  
  .product-list .product-list-1{
    width: 200px;
    margin: 0px 10px 10px 0; 
    height: 340px;
    font-size: 20px;
    background-color: rgba(252,252,252,0.6);
    display: inline-block;
    border-radius: 10px;
    border: 2px solid #5eff8e;
    color: #5eff8e;
    
  }
  .product-list .product-list-2{
    width: 200px;
   margin: 0px 10px 10px 0;
    padding: 10px 40px;
    height: 300px;
    font-size: 20px;
    background-color: rgba(252,252,252,0.6);
    display: inline-block;
    border-radius: 10px;
    border: 2px solid #5eff8e;
    color: #5eff8e;
  }
  .product-list .product-list-3{
    width: 200px;
    margin: 0px 10px 10px 0;
    padding: 10px 40px;
    height: 300px;
    font-size: 20px;
    background-color: rgba(252,252,252,0.6);
    display: inline-block;
    border-radius: 10px;
    border: 2px solid #5eff8e;
    color: #5eff8e;
  }
  
  .btn {
    display: inline-block;
    background-color: rgba(252,252,252,0.6);
    font-size: 1em;
    border: 2px solid white;
    color: #333;
    text-decoration: none;
    margin: 30px 10px 10px 10px;
    transition: all .6s;
    text-align: center;
    border-radius: 4px;
    font-weight: 800;
    width: 172px;
    height: 48px;
    line-height: 40px;
  }
  .btn:hover {
    background: #2044c5;
    color: #fff;
  }
  .imgs{
    width: 100%;
    height: 250px;
    border: 3px solid #5eff8e;
    border-radius: 8px ;
  }
 .avata__img{
  width: 197px;
  padding: 10px 10px;
}
.title{
    margin-top: -28px;
    padding-left: 3px;
}
.product-list{
    text-align: center;
}
.pokemon-list__load-more__button {
    width: 100%;
    background-image: url(https://sg.portal-pokemon.com/play/resources/pokedex/img/advance_search_close_bg.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.pokemon-list__load-more__buttons{
    width: 32.2%;
  
    border: 4px solid #333;
    border-radius: 60px;
    margin-top: 20px;
   
    
}
.pokemon-list__load-more__buttons:hover{
    background: #2044c5;
    color: #fff;

}
.pokemon-list__load-more__buttons {
    color: #b3eafe;
    position: relative;
    display: inline-block;
    width: 32%;
}
.pokemon-list__load-more__buttons:before {
    content: "";
    display: block;
}
.banner_naruto{
    margin-bottom: 40px;
    margin-top: -24px;
    width: 93%;
    height: 186px;
    margin-left: 40px;
    border: 4px solid #e5e8b0;
    border-radius: 10px;

}
.banner_nagato{
    margin-bottom: 40px;
    margin-top: -10px;
    width: 93%;
    height: 196px;
    margin-left: 40px;
    border: 4px solid #fff;
    border-radius: 10px;

}
.banner_naruto-img{
    width: 100%;
    border-radius: 10px;
}
.xemthembtb{
    color: #fff;
    width: 180px;
    height: 50px;
    line-height: 52px;
    font-size: 16px;
    font-weight: 600;
    margin-right: 30px;
    display: inline-block;
    background: url(/assets/img/khung.png) no-repeat;
    background-size: contain;
    vertical-align: middle;
    margin-left: 20px;
    margin-top: 20px;
 
}
.xemthembtb:hover{
    background: #409beb;
    border-radius: 50px;
}

.info-charac{
    position: absolute;
    width: 140px;
    background-color: rgb(227, 227, 226);
    margin-top: 12px;
    border-radius: 8px;
    margin-left: -66px;
    animation: infogrowth ease 0.5;
    display: none;

}
.nav-global__item:hover .info-charac{
    display: block;
}
.info-charac::before{
    content: "";
    border: 16px solid;
    border-color: transparent transparent  rgb(227, 227, 226) transparent;
    position: absolute;
    right: 12px;
    top: -24px;

}

.info-charac i{
font-size: 16px;
margin-right: 6px;
float: left;
align-items: center;

}
.info-charac span{
    font-size: 16px;
    margin-bottom: 4px;
 
 }
 .info-charac a{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;

    }
    @keyframes infogrowth{
        from{
            opacity: 0;
            transform: scale(0);
        }
        to{
            opacity: 1;
            transform: scale(1);
        }
    }

    