.grid{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}
.grid__full-width{
    width: 100%;
}
.grid__row{
    display: flex;
    flex-wrap: wrap;
}

article, aside, footer, header, nav, section {
    display: block;
}
.global-header {
    padding: 2px 0;
    background: #030c53;
}
article, aside, footer, header, nav, section {
    display: block;
}
body {
    color: #000;
    font-family: "Noto Sans", Arial, sans-serif;
    font-size: 1.6rem;
    line-height: 1.6;
    background: #314378;
    margin: 0;
    padding: 0;
}
.global-header__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.global-header__site-name {
    margin: 0;
    font-size: 1rem;
    width: 170px;
    text-align: center;
    margin: 6px 0;
}
.global-header__site-name a {
    display: block;
}
a {
    color: #00d2ff;
    text-decoration: none;
}
img {
    border-style: none;
    vertical-align: top;
}
.nav-global {
    width: calc(100% - 170px);
}
.nav-global__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom
}ol, ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
.nav-global__item {
    text-align: center;
    margin: 0 2px;
    width: calc(100% / 8);
    min-height: 56px;
    overflow: hidden;
    color: white
}
.nav-global__item > a {
    display: block;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 13px 5px;
    line-height: 1.1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100%;
    position: relative;
    -webkit-transition: .3s;
    transition: .3s;
}
.nav-global__item--anime {
    color: #00d2ff;
}
.nav-global__item > a span {
    position: relative;
    z-index: 2;
}

.nav-global__item > a span {
    position: relative;
    z-index: 2;
}
.nav-global__item--what > a {
    -webkit-transition: .2s linear;
    transition: .2s linear;
}
.nav-global__item--what > a {
    text-align: left;
    color: #555;
    padding-left: 62px;
    position: relative;
    font-size: 1.4rem;
}

.global-header__sp-close button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-decoration: none;
    display: block;
    width: 100%;
    background: #000;
    color: #FFF;
    font-family: "Noto Sans", Arial, sans-serif;
    font-size: 1.6rem;
    font-weight: bold;
    padding: 15px;
}
.global-header__sp-close button span {
    position: relative;
    padding-left: 25px;
    line-height: 1;
}
button, input, optgroup, select, textarea {
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}
.global-header__sp-menu > button span:nth-of-type(1) {
    top: 7px;
}
.global-header__sp-menu > button span {
    background-color: #4F4F4F;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    height: 3px;
    left: 5px;
    border-radius: 10px;
    position: absolute;
    -webkit-transition: all .4s;
    transition: all .4s;
    width: 22px;
}
.global-header__sp-menu > button span:nth-of-type(2) {
    top: 14px;
}
.global-header__sp-menu > button span:nth-of-type(3) {
    top: 0;
}

.nav-global__item > a::after {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    bottom: -92%;
    -webkit-transition: .3s all ease;
    transition: .3s all ease;
    left: 0;
}
.nav-global__item > a span {
    position: relative;
    z-index: 2;
}
.nav-global__item > a::after {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    bottom: -96%;
    -webkit-transition: .3s all ease;
    transition: .3s all ease;
    left: 0;
}


*, :after, :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.header__search input {
    background-color: #fff;
    border: 4px solid rgb(65, 112, 221);
    border-radius: 26px;
    font-size: 12px;
    line-height: 14px;
    height: 40px;
    padding: 8px 8px 8px 13px;
    width: 170px;
}
.header__search button {
    background-color: transparent;
    border: none;
    position: absolute;
    background-color: rgb(174, 190, 230);
    border: 4px solid rgb(65, 112, 221);
    border-radius: 26px;
    top:17px;
    right: 24px;
    
}
.search_button button{
    margin-top: 5px;
    background-color: rgb(174, 190, 230);
    border: 4px solid rgb(65, 112, 221);
    border-radius: 26px;
    margin-left: 4px;
}
.search_button .sum{
    margin-top: 5px;
    background-color: rgb(205 220 255);
    border: 4px solid rgb(20 216 255);
    border-radius: 26px;
    margin-left: 4px;
}
.pokemon-list__sub .pokemon-list--box__img {
    position: absolute;
    width: 60%;
    left: 20%;
    top: 8%;
}

.pokemon-list__sub .pokemon-list--box.visible {
    -webkit-animation: visible_pokemon_list 1s both;
    animation: visible_pokemon_list 1s both;
}