@{
    ViewData["Title"] = "Giới thiệu";
    <link rel="stylesheet" href="~/assets/css/info-items.css">
}

<div class="container">
    <div class="grid">
        <div class="grid__row">
            <div class="container">
                <div class="grid">
                    <div style="z-index: 0;" class="pokemon-list__header">
                        <div style="margin-top: -20px;" class="pokemon-list__load-more__button size-14">
                            <span>Giới thiệu</span>
                        </div>
                        <div class="content" style="margin-top: -70px;">
                            <div class="wrapper">
                                <div class="product-img">
                                    <img src="https://file.vfo.vn/hinh/2014/12/chibi-naruto-de-thuong-3.png" height="420" width="327">
                                    <div class="product-img-item"></div>
                                    <div style="    width: 170px;
                                        margin-top: 10px;
                                        margin-left: 70px;" class="title">
                                        <img src="~/assets/img/logo_web.png" alt="">
                                    </div>
                                </div>
                                <div class="product-info">
                                    <div style="margin-top: -20px;" class="product-text">
                                        <h1>Học Viện Ninja</h1>
                                        
                                        <div style="overflow:auto; width:300px;  height:100px;" id="text">
                                        <p style="height: 276px; margin-top: -40px; padding: 0 10px;">
                                            Trong thử thách hành động chiến đấu miễn phí này, người chơi có thể chọn 1 trong 2 nhân vật phổ biến nhất trong bộ Anime cùng tên, đó là Naruto Uzumaki  hoặc Sasuke Uchiha và đi tiêu diệt, hạ gục kẻ xấu đang có ý định đe dọa đến ngôi làng Ninja.
                                            <br> <br>   Lưu ý: vì đây là game Unity 2D phiên bản sinh viên FPT, hình ảnh chỉ mang tính chất giải chí vui lòng không soi mối về nhân vật, xin cảm ơn !
                                        </p>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>


                    <div style="margin-top: -20px;" class="pokemon-list__load-more__button size-14">
                        <span>Hướng dẫn cách chơi</span>
                    </div>
                    <div class="content" style="margin-top: -70px;">
                        <div class="wrapper">
                            <div class="product-img">
                                <img src="https://tse4.mm.bing.net/th?id=OIP.lSTVN5QKXwrDLipgHBw3KwHaHk&pid=Api&P=0" height="420" width="327">
                                <div class="product-img-item"></div>
                                <div style="    width: 170px;
                                        margin-top: 10px;
                                        margin-left: 70px;" class="title">
                                    <img src="~/assets/img/logo_web.png" alt="">
                                </div>
                            </div>
                            <div class="product-info">
                                <div style="height: 400px;" class="product-text">
                                    <h1>Học Viện Ninja</h1>
                                    <h2></h2>
                                    <p style="padding: 0px 4px; font-size: 20px; line-height: 40px; height: 200px;">
                                        <img style="width:26px;height:26px; border-radius:10px; " src="https://tse4.mm.bing.net/th?id=OIP.dmLjLFiZ1PcVJmPz2kfkOQHaHa&pid=Api&P=0" alt="">
                                        Trên máy tính sử dụng  <img style="width:34px;height:26px; border-radius:10px;" src="https://tse4.mm.bing.net/th?id=OIP.5PcEqnV4Rj_Q6_1cP4WqowHaER&pid=Api&P=0" alt="">
                                        để chơi, bấm <img src="https://st.gamevui.com/images/image/Icon_HD/4-phim.png" alt="" width="30" height="26" data-i="3">
                                        để di chuyển, bấm <img style="width: 18px; height:18px; border-radius: 4px; margin-top: 10px;" src="/assets/img/j.jpg" alt=""> để đấm, dùng tổ hợp phím <img style="width: 60px; height:18px; border-radius: 4px; margin-top: 10px;" src="/assets/img/uio.jpg" alt=""> để dùng kĩ năng, ấn <img style="margin-top: 10px;" src="https://st.gamevui.com/images/image/Icon_HD/space.png" alt="" width="56" height="18" data-i="6">  để nhảy lên.
                                    </p>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>
</div>


